<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<!-- show all the student details + edit profile + show all the enrolled courses -->

<body>
    <h1>profile</h1>
    <h1>
        welcome
    </h1>

    <ul>

        <% for(let i=0; i<1; i++) { %>

            <% for(let j=i; j<7; j++) { %>

                <li>

                    <%= result[i][j] %>

                </li>

                <% } %>

                    <% }%>

    </ul>


</body>

</html>