<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">REGISTRATION FORM</h1>
    <form name="RegForm" action="/register"  method="post">
        <p>Name: <input type="text" 
                        size="65" name="sname" /></p>
        <br />
        <p>E-mail Address: <input type="text" 
                               size="65" name="email" /></p>
        <br />
        <p>Password: <input type="password" 
                            size="65" name="s_password" /></p>
        <br />
        <p>Contact: <input type="text" 
                             size="65" name="contactno" /></p>
        <br />
        <p>Qualification: <input type="text" 
            size="65" name="qualification" /></p>
<br />
<p>Experience: <input type="text" 
    size="65" name="experience" /></p>
<br />
<p>profile: <input type="text" 
    size="65" name="profile_pic" /></p>
<br />
  
        <br />
            <input type="submit" 
                   value="send" name="Submit" />
            <input type="reset" 
                   value="Reset" name="Reset" />
        </p>
    </form>
</body>
</html>